.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
   }

.circle-red {
    background-color: red;
    width: 700px;
    height: 700px;
}

.circle-orange {
    background-color: orange;
    width: 600px;
    height: 600px;
}

.circle-yellow {
    background-color: yellow;
    width: 500px;
    height: 500px;
}

.circle-green {
    background-color: green;
    width: 400px;
    height: 400px;
}

.circle-lblue {
    background-color: #14B5EF;
    width: 300px;
    height: 300px;
}

.circle-dblue {
    background-color: #2314EF;
    width: 200px;
    height: 200px;
}

.circle-purple {
    background-color: #660066;
    width: 100px;
    height: 100px;